<h1>Listing entries</h1>

<table>
  <thead>
    <tr>
      <th>Folder</th>
      <th>Date</th>
      <th>Theme</th>
      <th>Spend time</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.folder %></td>
        <td><%= entry.date %></td>
        <td><%= truncate entry.theme, length: 25 %></td>
        <td><%= entry.spend_time %></td>
        <td><%= entry.user.name %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
